@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.areabg{
    background-image: url(/public/img/asset26.png);
}
.footerbg{
    background-image: url(/public/img/asset32.png);
}
.boxShadow:hover{
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.25);
}


.swiper-button-next {
  color: #e96f2d; 
  font-size: 18px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border:2px solid #e96f2d;
  border-radius: 50%;
}
.swiper-button-next {
    right: 10px; 
  }
  
.swiper-button-prev {
    color: #e96f2d; 
    font-size: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border:2px solid #e96f2d;
    border-radius: 50%;
  }

.swiper-button-prev {
  left: 10px; 
}


